@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);

html,body {
  height:100%;
  margin:0;
}


h1 {
  font-family: 'Playfair Display SC', serif;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 30px;
  color: #222222;
  text-align: center;
}

.main_block {
	background: url('Dzhubga.jpg') no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
	position: relative;
}
.main_title {
	/*font-family: 'PT Sans', sans-serif;*/
	width: 100%;
	text-align: center;
	margin-top: 50px;
	position: absolute;
}
.second_block {
	height: 100%;
	width: 100%;
	position: relative;
	background: url('2.jpg') no-repeat center center fixed;
	background-size: cover;
}
.third_block {
	height: 100%;
	width: 100%;
	position: relative;
	background: url('5.jpg') no-repeat center center fixed;
	background-size: cover;
}
.block_card {
	width: 100%;
}