.main {
    width: 100%;
    margin-top: 30px;
}
.items__title{
    font-size: 20px;
    font-weight: 500;
}
.item {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;

}
.item__title {
    padding-bottom: 20px;

}
.item__price {
    font-weight: bold;
}
.item__price__shipping {
    font-weight: normal;
}

