.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.button {
    width: 30%;
}
.button_item {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #acbdcd;
    border-radius: 10px;
    color: #4169e1;
}
.button_item:focus {
    color: white;
    background-color: #4169e1;
    border: none;
    outline: none;
}
.button_item:active {
    color: white;
    background-color: #4169e1;
    border: none;
    outline: none;
}
.op {
    background-color: fuchsia;
}